

 <h2> Employee List</h2>

<table class = "table table-striped">
    <thead>
        <tr>
            <th> Emp ID </th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Date of Birth </th>
            <th> Year of Passing </th>
            <th> Institute Name</th>
            <th> Percentage </th>
            <th> Previous Company Name </th>
            <th> Previous Company Role </th>
            <th> Start Date</th>
            <th> End Date </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employeeData">
            <td> {{ employee.eId }} </td>
            <td> {{ employee.eFName }} </td>
            <td> {{ employee.eLName }} </td>
            <td> {{ employee.eDob }} </td>

            
            <td> {{ employee.eYop }}  </td>
            <td> {{ employee.eInstituteName }} </td>
            <td> {{ employee.ePercentage }} </td>

            <td> {{ employee.ePreComName }} </td>
            <td> {{ employee.ePreComRole }} </td>
            <td> {{ employee.ePreComStartDate }} </td>
            <td> {{ employee.ePreComEndDate }} </td>
            <td style="display:flex; justify-content:space-between; align-items: center;">
                <button class="btn btn-warning" (click) = "editEmployee(employee.eId)">Edit</button>
                <button class="btn btn-danger" (click) = "deleteEmp(employee.eId)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>