<div class="container-col-md-6" *ngIf="isEmpFormVisible">
    <h3 class="text-light bg-dark text-center m-3">Add Employee</h3>
    <form [formGroup]="personalDetailForm" class="container" style="padding: 20px 150px;">

        <div class="form-group mb-3">
            <label for="eId">Employee ID</label>

            <input type="number" class="form-control" id="eId" placeholder="Id" formControlName="eId" required>
        </div>

        <div class="form-group mb-3">
            <label for="eFName">First Name</label>

            <input type="text" class="form-control" id="eFName"  placeholder="First Name" formControlName="eFName">
        </div>

        <div class="form-group mb-3">
            <label for="eLName">Last Name</label>

            <input type="text" class="form-control" id="eLName"  placeholder="Last Name" formControlName="eLName">
        </div>

        <div class="form-group mb-3">
            <label for="eDob">Date Of Birth</label>

            <input type="text" class="form-control" id="eDob"  placeholder="Date Of Birth" formControlName="eDob">
        </div>

        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>

<div class="container-col-md-6" *ngIf="!isEmpFormVisible && isEduDetFormVisible">
    <h3 class="text-light bg-dark text-center m-3">Education Details</h3>
    <form [formGroup]="educationDetailForm" class="container" style="padding: 20px 150px;">

        <div class="form-group mb-3">
            <label for="eYop">Year Of Passing</label>

            <input type="text" class="form-control" id="eYop" placeholder="Year Of Passing" formControlName="eYop"> 
        </div>


        <div class="form-group mb-3">
            <label for="eInstituteName">Institute Name</label>

            <input type="text" class="form-control" id="eInstituteName" placeholder="Institute Name" formControlName="eInstituteName">
        </div>
        

        <div class="form-group mb-3">
            <label for="ePercentage">Percentage</label>

            <input type="text" class="form-control" id="ePercentage" placeholder="Percentage" formControlName="ePercentage">
        </div>
        <!--  -->

        <button type="submit" class="btn btn-success mt-3">Save</button>
    </form>
</div>


<div class="container-col-md-6" *ngIf="!isEduDetFormVisible && isEmpHisFormVisible">
    <h3 class="text-light bg-dark text-center border border-warning m-3">Employeement History</h3>

    <form [formGroup]="empHisDetailForm" class="container" style="padding: 20px 150px;">
        <div class="mb-3">
            <label for="ePreComName">Previous Company Name</label>

            <input type="text" class="form-control" id="ePreComName" placeholder="Company Name" formControlName="ePreComName">
        </div>
        
    
        <div class="mb-3">
            <label for="ePreComRole">Role</label>

            <input type="text" class="form-control" id="ePreComRole" placeholder="Role" formControlName="ePreComRole">
        </div>
        
    
        <div class="mb-3">
            <label for="ePreComStartDate">Start Date</label>

            <input type="text" class="form-control" id="ePreComStartDate" placeholder="Start Date" formControlName="ePreComStartDate">
        </div>
        
        <div class="mb-3">
            <label for="ePreComEndDate">End Date</label>

            <input type="text" class="form-control" id="ePreComEndDate" placeholder="End Date" formControlName="ePreComEndDate">
        </div>
        
    
        <button class="btn btn-success" type="submit">Register</button>
    
        
    </form>
    
    <!-- onclick event needed -->
    <button class="btn btn-primary" style="margin-left: 7.5rem" routerLink="/addEmployee">Add Another</button>

</div>


<div class="pagination d-flex justify-content-center" >
    <ul class="pagination pagination-lg">
      <li class="page-item">
        <a class="page-link" routerLink="addEmployee" tabindex="-1">1</a>
      </li>
      <li class="page-item"><a class="page-link" (click) = "eduDetailForm()" >2</a></li>
      <li class="page-item"><a class="page-link" (click) = "empHistoryForm()">3</a></li>
    </ul>
  </div>


